<!DOCTYPE html>
<html>
  <head>
    <title>Quora</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:error]%>
    <div class='alert alert-danger'> <%=flash[:error]%></div>
    <%elsif flash[:success]%>
    <div class='alert alert-success'> <%=flash[:success]%></div>
    <%end%>
    <div class="container-fluid"><%= yield %></div>    
  </body>
</html>
