<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron" style="background: #D09DAF;" >
      <div class= "text-center">
        <h1 style="color: white;">Quora!</h1>
        <p>El lugar para hacer preguntas...</p>
        <%if !logged_in?%>
        <%= link_to "Log in", pages_login_path, class: "btn btn-cstom" %>
        <%= link_to "Sign up", new_user_path, class: "btn btn-cstom" %>
        <%else%>
          <h3>Welcome <%=current_user.name%></h3>
          <%= link_to "Log out", pages_logout_path, class: "btn btn-cstom" %>
        <%end%>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"> <li class="active"><%= link_to "Home", pages_home_path%></li>
            <%if logged_in?%><li><%= link_to "Profile", user_path(id: current_user.id)%></li><%end%>             
            <li><a href="/pages/about">About us</a></li>
            <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">
   <p>This would be a static home page in a Rails application.</p>
  </div>
</div>

<p>© <%= Date.today.year %> Quora de Vanessa.</p>
