<div class="page-header">
  <h1>
    Quora!</q> <small> bienvenido...</small>
  </h1>
</div>

<p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col-sm-3">
      <%= render 'layouts/vertical_navbar', layout: false%>
    </div>

    <div class="col-md-9">
      <div class="media">
         <a href="#" class="pull-left"><img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object" /></a>
        <div class="media-body">
          <h4 class="media-heading">
            <%=@user.name%>
          </h4> 
          <h6> <%= @user.email %></h6>
          <%= link_to 'Edit', edit_user_path(@user) %> |
          <%= link_to 'Back', users_path %>
        </div>
      </div>
      <br>
      <p>Cupcake ipsum dolor sit amet cake. Gummi bears lollipop jelly beans topping tart brownie cotton candy oat cake jelly-o. I love fruitcake I love. Chocolate sweet muffin candy canes macaroon oat cake I love marzipan. Danish tiramisu icing I love icing chupa chups toffee chocolate cake marzipan. Caramels sesame snaps I love. Cheesecake bonbon pudding tiramisu caramels jujubes chocolate cotton candy. I love sweet cake danish topping halvah bonbon dragée. Sugar plum pie cotton candy I love sweet icing liquorice oat </p>
      <p>  Biscuit jelly beans bear claw. Candy canes tootsie roll oat cake soufflé. Wafer chocolate ice cream. Sweet roll cupcake wafer marshmallow. Tart brownie topping pudding soufflé sweet roll lemon drops. Halvah sweet cookie I love toffee donut muffin. Candy canes sweet lemon drops. Jelly tiramisu sesame snaps.</p>
      <p>      Apple pie pie gummies chocolate cake. Pastry sesame snaps cotton candy gummi bears icing croissant biscuit jelly. Tootsie roll carrot cake bonbon tart soufflé oat cake candy canes bonbon I love. Caramels jelly-o cookie I love jujubes muffin donut soufflé. I love halvah pie cookie pie. Marzipan I love croissant. I love tart ice cream tiramisu.</p>      
    </div>
  </div>